@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<body style="background-color:powderblue;">
    <h1 class="display-4">Welcome</h1>
   
     <h2>Hello Web Pages</h2>
     <p><h3>ASP.NET Web Pages</h3></p>
</body>

</div>
